@model IEnumerable<CareerInfo.Model.Review>

@{
     ViewData["Title"] = "Reviews";
     ViewBag.BodyId = "reviews";
}


@section Nav{
     @Html.Partial("_ReviewNav")
}

<div id="innerHeader">
     <div class="container-fluid">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
               <h2><span class="fa fa-comments"></span> Reviews <span class="badge">@Model.Count()</span></h2>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
               <input class="search input-sm" placeholder="Search" type="search" />
          </div>
     </div>
</div>


<div id="innerCon">
     <div class="container-fluid">
          <table class="table table-responsive">
               <thead>
                    <tr>
                         <th>
                              S/N
                         </th>
                         <th>
                              Reviewers
                         </th>
                         <th>
                              Email
                         </th>
                         <th>
                              Rating
                         </th>
                         <th>
                              Date Reviewed
                         </th>
                    </tr>
               </thead>
               <tbody>
                    @foreach (var item in Model.OrderBy(e => e.ApplicationUser.Firstname))
                    {
                         <tr>
                              <td></td>
                              <td class="name">
                                   @item.ApplicationUser.Firstname @item.ApplicationUser.Middlename.Substring(0, 1)
                                   @item.ApplicationUser.Lastname
                              </td>
                              <td>
                                   @item.ApplicationUser.Email
                              </td>
                              <td class="state">
                                   @item.Rating
                              </td>
                              <td>
                                   @item.Date.ToLocalTime()
                              </td>
                         </tr>
                    }
               </tbody>
               <tfoot>

               </tfoot>
          </table>
     </div>
</div>


<script type="text/javascript">
     var options = {
          valueNames: ['name', 'state']
     };

     var userList = new List('mainInnerCon', options);
</script>



<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
               </div>
               <div class="modal-body">
                    @Html.PartialAsync("Create")
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
               </div>
          </div>
     </div>
</div>